@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Droid+Serif|Lato|Life+Savers|Lobster|Open+Sans|Oswald');
body {
    max-width: 1024px;
    background: #000;
    font-family: 'Life Savers', cursive;
    font-weight: 400;
    color: #EBEB4B;
    background: #d4bb7d;
}

#canvas {
    background: #d4bb7d;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1024px;
    height: 620px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

#inline {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 768px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.asset,
.sprite {
    position: absolute;
    top: 0;
    left: 0;
}

.debug .asset,
.debug .sprite {
    background: rgba(255, 0, 0, 0.5);
    opacity: 0.5;
}

.debug .asset.all {
    background: none;
    opacity: 1;
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    /*overflow: hidden;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1024px;
    height: 44px;
    padding: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #111;
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.75);
    z-index: 999999;
}

.buttons .next,
.overnext {
    text-align: right;
    float: right;
}

.buttons .next span,
.overnext span {
    float: right;
    width: 32px;
    height: 30.5px;
    margin-top: 7px;
    margin-right: 0;
    text-indent: 9999px;
    background: url("ui/next.png") no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
}

.buttons .previous {
    text-align: left;
}

.buttons .previous span {
    width: 32px;
    height: 30.5px;
    margin-top: 7px;
    margin-left: 7px;
    background: url("ui/previous.png") no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
}

.buttons .next,
.overnext,
.buttons .previous {
    line-height: 44px;
    float: left;
    width: 33%;
    height: 44px;
}

.buttons a span {
    text-indent: -9999px;
}

.buttons a,
.buttons a span {
    display: block;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.buttons.offnext a.next {
    visibility: hidden !important;
}

.buttons.offprevious a.previous {
    visibility: hidden !important;
}

.buttons .drawer_open {
    background: url(ui/sommaire.png) no-repeat 50% 50%;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
    text-indent: -9999px;
    text-align: center;
    cursor: pointer;
    float: left;
    width: 34%;
    height: 44px;
}

.buttons .drawer_open:hover {
    border-color: transparent;
}

.disable {
    display: none !important;
}

.muteactions {
    height: 37px;
    width: 40px;
    margin: 5px auto 0;
    display: none;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999999;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 0 5px 10px;
}

.muteactions .music,
.muteactions .nomusic,
.muteactions .mute,
.muteactions .unmute {
    float: right;
    width: 35px;
    height: 37px;
    margin-right: 5px;
}

.muteactions .music,
.muteactions .nomusic {
    float: left;
    margin-top: 7px;
}

.muteactions .mute span,
.muteactions .unmute span {
    display: block;
    width: 35px;
    height: 37px;
    text-indent: -9999px;
}

.muteactions .mute span {
    background: url("ui/mute.png") no-repeat 0 0;
    -webkit-background-size: 35px 74px;
    background-size: 35px 74px;
}

.muteactions .unmute span {
    background: url("ui/mute.png") no-repeat 0 -37px;
    -webkit-background-size: 35px 74px;
    background-size: 35px 74px;
}

.muteactions .music span,
.muteactions .nomusic span {
    display: block;
    width: 25px;
    height: 26px;
    text-indent: -9999px;
}

.muteactions .music span {
    background: url("ui/music.png") no-repeat 0 0;
    -webkit-background-size: 25px 52px;
    background-size: 25px 52px;
}

.muteactions .nomusic span {
    background: url("ui/music.png") no-repeat 0 -26px;
    -webkit-background-size: 25px 52px;
    background-size: 25px 52px;
}

.screen {
    position: relative;
    overflow: hidden;
    width: 1024px;
    max-width: 1024px;
    height: 576px;
    max-height: 576px;
    margin-top: 0;
    background: #d4bb7d;
}

.sprite {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 620px;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /*background: url("ui/ui_background.jpg") no-repeat 0 0;*/
    /*background-size: cover;*/
}

body a {
    color: #EBEB4B;
}

body,
html {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    overflow: hidden;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

.preloader {
    font-size: 24px;
    text-align: center;
    width: 1024px;
    color: #EBEB4B;
    height: 620px;
    line-height: 620px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #d4bb7d;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
}

@-webkit-keyframes playloader {
    from {
        background-position: 0;
    }
    to {
        background-position: -2128px;
    }
}

@keyframes playloader {
    from {
        background-position: 0;
    }
    to {
        background-position: -2128px;
    }
}

.preloaderimage {
    display: block;
    width: 304px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -290px);
    -ms-transform: translate(-50%, -290px);
    transform: translate(-50%, -290px);
    -webkit-animation: playloader 1s steps(7) infinite;
    animation: playloader 1s steps(7) infinite;
    background: url(ui/loader.png) no-repeat 0 0;
    z-index: 999999;
    opacity: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.preloader.hide {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /></filter></svg>#filter');
    -webkit-filter: blur(2px);
    filter: blur(2px);
    cursor: pointer;
}

.calltoaction {}

.drawer {
    background: #333333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    float: left;
}

.drawer_close {
    display: block;
    height: 33%;
    width: 44px;
    background: url(ui/close.png) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    text-indent: -9999px;
    position: absolute;
    top: 5px;
    right: 5px;
    margin-left: -50px;
    text-align: center;
    z-index: 999999;
    cursor: pointer;
}

.drawer.off {
    bottom: -110%;
}

.drawer.on {
    bottom: 0;
}

.drawer h3 {
    margin: 0.5em;
    text-align: center;
}

.drawer ul {
    width: 100%;
    overflow: hidden;
}

.drawer li {
    display: block;
    float: left;
    margin: 6px 3px;
}

.drawer img {
    width: 138px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.drawer blockquote {
    margin-top: 1em;
    font-size: 12px;
    text-align: center;
    line-height: 1.4em;
}

.asset.overline {
    background: rgba(255, 200, 0, 0.5);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.asset.overline.on {
    background: rgba(255, 200, 0, 0);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.asset.clickable:hover,
.hoverable {
    cursor: pointer;
}

.button {
    position: absolute;
    display: block;
    background: red;
}

.slidenum {
    position: absolute;
    top: 10vw;
    left: 0;
    width: 100%;
    font-size: 10px;
    line-height: 20px;
    background: black;
    color: greenyellow;
    text-align: center;
    z-index: 999999;
}

.mydebugloader {
    z-index:0;
    background: black;
    color: greenyellow;
    font-size: 9px;
    height: 100%;
    width: 25%;
    margin:0 auto;
    overflow: scroll;
    position:absolute;
    top:0;
    left:0;
}